<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OxyOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OxyOS.My.MySettings>
            <setting name="Main_IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="User_Bool_IsPP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_Bool_IsPWD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="User_String_PWD" serializeAs="String">
                <value />
            </setting>
            <setting name="User_String_FName" serializeAs="String">
                <value />
            </setting>
            <setting name="User_String_LName" serializeAs="String">
                <value />
            </setting>
            <setting name="User_String_SysName" serializeAs="String">
                <value />
            </setting>
            <setting name="User_String_PPLoc" serializeAs="String">
                <value />
            </setting>
            <setting name="User_String_PHint" serializeAs="String">
                <value />
            </setting>
        </OxyOS.My.MySettings>
    </userSettings>
</configuration>